/*css font rules:
font-family: 'Playfair Display', serif;
font-family: 'Satisfy', cursive;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Quicksand', sans-serif;*/

h1{
  color:black;
  text-align: center;
  font-family: 'Playfair Display', 'Bodoni 72', 'Palatino Linotype', serif;
  font-size: 3em;
}

h2{
  color: #585858;
  text-align: center;
  font-family: 'Playfair Display', 'Bodoni 72', 'Palatino Linotype', serif;
  font-size: .75em;
}

h3{
  color: #585858;
  text-align: center;
  font-family:'Satisfy', 'Freestyle Script', cursive;
  font-size: 2em;
}

/*body{
  background-color:#807F7F;
  font-family: 'Pathway Gothic One', 'Avenir Next Condensed Regular','Franklin Gothic Condensed', sans-serif;
  font-size: 2em;
}*/

p{
  color:#807F7F;
  font-family:'Quicksand', 'Avenir Book', 'Gill Sans', sans-serif;
  font-size: 1.5em;
}

#nav li{
  list-style-type:none;
  position: sticky;
  top: 2;
}

#nav a:link, #nav a:visited{
  display:block;
  color:#ffffff;
  background-color: #7dcbd7;
  font-weight:bold;
  text-align:center;
  text-decoration:none;
  padding:4px;
  font-family: 'Pathway Gothic One', 'Avenir Next Condensed Regular','Franklin Gothic Condensed', sans-serif;
}

#nav a:hover, #nav a:active{
  background-color:#5c959e;
}

#nav{
  padding:0;
}

.caption{ /*this is how you target a class*/
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-size:0.8em;
  float: right;
  margin-right: 0 25px 0 0;
  font-style:italic;
  text-align:right;
}

#footer{
  color:black;
  font-family: Georgia, "Times New Roman," serif;
  font-size: 0.8em;
  border-top:1px dotted black;
  /*border-width:1px 0px;
  border-style:dotted;
  border-color:black;*/
}

img{ /*images styled with borders automatically, so clear the styling!*/
  display: block;
  margin: auto;
  border-style:none;
}

/*color notes:
hue- the gamut of pure colors; color at full saturation without tint or shade;
tint- color mixed with white / shade- color mixed with black;
hex colors - #rrggbb - responds to binary coding of computers, values between 00 and ff;
parameter defines the intensity of color - values between 0 and 255;
rgba - adds an alpha channel, adds transparency, value between 0.0 and 1.0;
hsl - hue (degrees on color wheel from 0 to 360), saturation, and lightness;}
